Repository ZephyrZhao247/Waiting-Room-Manager: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix: add packages
  package-lock.json
  package.json
Due: npx prettier --write

fix:add src
  .gitignore
  .husky/pre-commit
  src/App.tsx
  src/components/AssociationManager.tsx
  src/components/ConfirmDialog.tsx
  src/components/ControlPanel.tsx
  src/components/EmailAssociationPanel.tsx
  src/components/EmailDisplay.tsx
  src/components/LogPanel.tsx
  src/components/ManualControlPanel.tsx
  src/components/RoundSelector.tsx
  src/components/UploadPanel.tsx
  src/csv/parse.ts
  src/index.css
  src/main.tsx
  src/operations/matching.ts
  src/operations/waitingRoom.ts
  src/sdk/zoom.ts
  src/state/store.ts
  src/types.ts
  src/utils.ts
Due: npx eslint --fix, npx prettier --write

feat: using breakout rooms
  app.js
  server/README.md
  server/association-server.js
  server/routes/associations.js
  src/components/AssociationManager.tsx
  src/components/ControlPanel.tsx
  src/components/UploadPanel.tsx
  src/config/server.ts
  src/csv/parse.ts
  src/operations/breakoutRoom.ts
  src/sdk/zoom.ts
  src/services/serverSync.ts
  src/state/store.ts
  src/types.ts
  zoomapi.md
Due: npx eslint --fix, npx prettier --write

feat: stable version after tests
  src/components/EmailAssociationPanel.tsx
Due: npx eslint --fix

feat: add more backend features
  README.md
  app.js
  data/.gitkeep
  netlify.toml
  package-lock.json
  package.json
  scripts/python/README.md
  scripts/python/conflicts.py
  scripts/python/generate_meeting_conflicts.py
  server/public/register.js
  server/routes/index.js
  server/routes/registration.js
  server/views/browser-layout.pug
  server/views/index.pug
  server/views/register.pug
  src/App.tsx
  src/components/AssociationManager.tsx
  src/components/ControlPanel.tsx
  src/components/ManualControlPanel.tsx
  src/csv/parse.ts
  src/operations/waitingRoom.ts
  src/sdk/zoom.ts
  vercel.json
Due: npx eslint --fix, npx prettier --write

doc: change read me and script
  README.md
  scripts/setup.sh
Due: npx prettier --write

fix: unstable open breakout rooms
  app.js
  server/views/register.pug
  src/operations/breakoutRoom.ts
Due: npx eslint --fix

Path conditions:
  npx eslint --fix: any of: *.{js,ts,tsx,jsx}
  npx prettier --write: any of: *.{css,scss,md,json}
